<p id="notice"><%= notice %></p>

<p>
  <strong>Uf:</strong>
  <%= @provedor.uf %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @provedor.municipio %>
</p>

<p>
  <strong>Microregiao:</strong>
  <%= @provedor.microRegiao %>
</p>

<p>
  <strong>Razaosocial:</strong>
  <%= @provedor.razaoSocial %>
</p>

<p>
  <strong>Numato:</strong>
  <%= @provedor.numAto %>
</p>

<p>
  <strong>Termo:</strong>
  <%= @provedor.termo %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @provedor.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @provedor.telefone %>
</p>

<%= link_to 'Edit', edit_provedor_path(@provedor) %> |
<%= link_to 'Back', provedores_path %>
